.nav_div_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.nav_brand h5 {
  font-size: 28px;
  font-weight: 700;
  color: var(--white-color);
}

.nav_route ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  color: var(--white-color);
}

.nav_route ul li {
  padding: 0px;
  margin: 0px;
  list-style: none !important;
  font-size: 17px;
  padding: 0px 25px;
  font-family: "Roboto Condensed", sans-serif !important;
  cursor: pointer;
}

.nav_route ul li a {
  display: inline-block;
  position: relative;
  color: var(--white-color);
}

.nav_route ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /* color: var(--white-color); */
}

.nav_route ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_btn_div button {
  border: 1px solid var(--white-color);
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
  color: var(--white-color);

  letter-spacing: 0.3px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease;
  z-index: 1;
}

.nav_btn_div button:hover {
  color: var(--orange-color);
}

.nav_btn_div button:before,
.nav_btn_div button:after {
  background: var(--white-color);
  transition: 0.3s ease;
  content: "";
  position: absolute;
  z-index: -1;
}

.nav_btn_div button:before {
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
}
.nav_btn_div button:hover:before {
  bottom: 0;
}

.hamburger_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  /* .hamburger_div {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
  } */

  .nav_div_parent {
    width: 100%;
    /* height: 140px ; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    position: relative;
  }

  .hamburger_menu {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    z-index: 99;
    background-color: var(--dark-color);
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }

  .hamburger_menu button {
    background-color: var(--dark-color-1);
    padding: 6px;
    border: none;
    color: var(--white-color);
    border-radius: 4px;
    font-weight: 600;
  }

  .bar {
    width: 20px;
    height: 2px;
    background-color: var(--white-color);
    margin: 3px 0;
    border-radius: 2px;
  }

  .nav_route {
    width: 100%;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  /* 
  .nav_route ul {
    display: none;
  } */

  .nav_route_active {
    width: 100%;
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
    background-color: var(--dark-color);
    transition: 0.3s;
  }

  .nav_route_active ul {
    padding: 0px;
    margin: 0px;
    /* display: flex; */
    /* flex-direction: column; */
    display: block;
    color: var(--white-color);
    clear: both;
  }

  .nav_route_active ul li {
    padding: 0px;
    margin: 0px;
    list-style: none !important;
    font-size: 15px;
    padding: 10px 25px;
    font-family: "Roboto Condensed", sans-serif !important;
    cursor: pointer;
  }

  .nav_route_active ul li:hover {
    background-color: var(--white-color);
    color: var(--dark-color-1);
  }

  .nav_route ul li a {
    display: inline-block;
    position: relative;
    color: var(--white-color);
  }
}
