.home_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("../../assets/images/h1_hero.png.webp") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home_parent_div {
  padding-top: 150px;
}

.home_img_div {
  width: 350px;
  height: 350px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_img_div img {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  filter: grayscale(2);
}

.home_content_div h1 {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 65px !important;
  font-weight: 400 !important;
  color: white;
  line-height: 65px;
  margin-bottom: 30px;
}

.home_content_div h6 {
  font-size: 28px !important;
  font-weight: 500 !important;
  color: var(--black-color);
}

/* details */

.home_details h6 {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 22px;
  color: var(--white-color);
  font-weight: 400;
}

.home_details h3 {
  font-family: "Roboto Condensed", sans-serif !important;
  /* font-size: 20px; */
  color: var(--white-color);
  font-weight: 400;
}

.home_details a {
  font-family: "Roboto Condensed", sans-serif !important;
  color: var(--white-color);
  font-weight: 400;
}

.icon_div {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 25px;
  color: var(--white-color);
  font-weight: 400;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_detail_parent {
  padding-top: 70px;
  padding-bottom: 100px;
}

.hamburger_menu {
  display: none;
}

@media screen and (max-width: 1100px) {
  .icon_div {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 20px;
    width: 40px;
    height: 40px;
  }

  .home_details h6 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 18px;
    color: var(--white-color);
    font-weight: 400;
  }

  .home_details h3 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 25px;
    color: var(--white-color);
    font-weight: 400;
  }

  .home_details a {
    font-family: "Roboto Condensed", sans-serif !important;
    color: var(--white-color);
    font-weight: 400;
  }
}

@media screen and (max-width: 992px) {
  .icon_div {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 25px;
    width: 60px;
    height: 60px;
  }

  .home_parent_div {
    padding-top: 20px;
  }

  .home_img_div {
    width: 270px;
    height: 270px;
    min-width: 270px;
    min-height: 270px;
    border: 3px solid var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home_img_div img {
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    filter: grayscale(2);
  }

  .home_content_div h1 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 45px !important;
    font-weight: 400 !important;
    color: white;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .home_content_div h6 {
    font-size: 23px !important;
    font-weight: 500 !important;
    color: var(--black-color);
  }
}

@media screen and (max-width: 768px) {
  .home_parent_div {
    padding-top: 80px;
  }

  .home_img_div {
    width: 220px;
    height: 220px;
    min-width: 220px;
    min-height: 220px;
    border: 3px solid var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home_img_div img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    filter: grayscale(2);
  }

  .home_content_div h1 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 45px !important;
    font-weight: 400 !important;
    color: white;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .home_content_div h6 {
    font-size: 23px !important;
    font-weight: 500 !important;
    color: var(--black-color);
  }

  /* details */
  .home_details h6 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 20px;
    color: var(--white-color);
    font-weight: 400;
  }

  .home_details h3 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 17px;
    color: var(--white-color);
    font-weight: 400;
  }

  .home_details a {
    font-family: "Roboto Condensed", sans-serif !important;
    color: var(--white-color);
    font-weight: 400;
  }
}

@media screen and (max-width: 400px) {
  .home_parent_div {
    padding-top: 80px;
  }

  .home_img_div {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
  }

  .home_img_div img {
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
  }

  .home_content_div h1 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 30px !important;
    line-height: 30px;
  }

  .home_content_div h6 {
    font-size: 16px !important;
  }

  .home_detail_parent {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
