.home_container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("../../assets/images/h1_hero.png.webp") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home_parent_div{
  padding-top: 150px;
}
.home_img_div {
  width: 350px;
  height: 350px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_img_div img {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  filter: grayscale(2);
}

.home_content_div h1 {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 65px !important;
  font-weight: 400 !important;
  color: white;
  line-height: 65px;
  margin-bottom: 30px;
}

.home_content_div h6 {
  font-size: 28px !important;
  font-weight: 500 !important;
  color: var(--black-color);
}
